<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, height=device-height,
      initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{{gsc_url}}/css/registered.css">
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous">
    <title>信徒資料</title>
  </head>

  <body>
    <div id="title">信徒資料</div>
    <div class="form-row">
      <div class="form-group col">
        <label >&nbsp;&nbsp;&nbsp;&nbsp;姓名：</label>
        <label >{{name}}</label>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        <label>&nbsp;&nbsp;&nbsp;&nbsp;生日：</label>
        <label>{{birthday}}</label>
      </div>
    </div>     
    <div class="form-row">
      <div class="form-group col">
        <label>&nbsp;&nbsp;&nbsp;&nbsp;性別：</label>
        <label >{{sex}}</label>
      </div>
    </div> 
    <div id="submit_botton_div">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-primary" id="button_submit" onclick="window.close();">離開</button>
    <div>
  </body>
</html>